@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 477px) {
   
    .logo {
        padding: 0px 15px;
    }

    ul, li {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        display: none;
    }

    .container {
        flex-direction: column;
        width: 900px;
    }

    #banner {
        height: 1000px;
        background-image: url('../imagens/img-corte-horizontal2.jpg');
        background-size: cover;
        background-position: left;
        
    }

    .div_frases {
        max-width: 275px;
        padding-left: 15px;
    }

    .div_frases > h1 {
        font-size: 45px;
        color: #fff;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.89);
    }

    .div_frases > h2 {
        font-size: 16px;
        color: #fff;
        margin-top: 20px;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.685);
    }

    .div_options {
        flex-direction: column;
        height: 483px;
    }

    .div_options_interna {
        padding: 20px;
    }

    .div_options_interna p {
        margin: 6px;
    }

    .footer_menu {
        flex-direction: column;
        height: 436px;
    }

    .widget, .footer_copy {
        padding: 0px 15px;
    }

    .widget, .footer_copy {
        padding: 0px 15px;
    }
}

@media screen and (min-width: 478px) and (max-width: 852px) {

    .logo {
        padding: 0px 15px;
    }

    ul, li {
        display: none;
    }

    .container {
        flex-direction: column;
    }

    #banner {
        height: 1000px;
    }

    .div_frases {
        padding-left: 15px;
    }

    .div_options {
        flex-direction: column;
        height: 436px;
    }

    .div_options_interna {
        padding: 20px 90px;
    }

    .conteudo_aside > div {
        width: 150px;
        height: 150px;
        margin: 0px 15px;
    }

    .footer_menu {
        flex-direction: column;
        height: 436px;
    }

    .footer_area {

        flex-direction: column;
    }

    .widget, .footer_copy {
        padding: 0px 15px;
    }

    header .container {
        flex-direction: row;
    }

}