@charset "UTF-8";

* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



header {
    justify-content: center;
    display: flex;
    height: 120px;
    
}

.container {
    display:flex;
    justify-content: space-between;
    width: 900px;
    
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}



ul, li {
    display: flex;
    align-items: center;
}

nav a {
    display: flex;
    color: #727272;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}

li > a:hover {
    background-color: #39aae1;
    color: white;
    transform: translate(-2px, -2px);
    font-weight: bold;
    border-radius: 6px;
}



#banner {
    display: flex;
    background-image: url('../imagens/img1.jpg');
    justify-content: center;
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}


.div_frases {
    display: flex;
    flex:1;
   justify-content: center;
    flex-direction: column;
    width: 370px;
    height: 300px;
    padding-bottom: 50px;
    
}

.div_options {
    display: flex;
    background-color: green;
    height: 210px;
}

.div_options1 {
    flex: 1;
    background-color: aqua;
}

.div_options2 {
    flex: 1;
    background-color: beige;
}

.div_options3 {
    flex: 1;
    background-color: #727272;
}



.div_frases > h1 {
    font-size: 55px;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.622) ;
    
}


.div_frases > h2 {
    font-size: 19px;
    color: #fff;
    margin-top: 20px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.548) ;
    
    
}

























