@charset "UTF-8";

* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    min-width: 50%vw;
}

header {
    justify-content: center;
    display: flex;
    height: 120px;   
}

.container {
    display:flex;
    justify-content: space-between;
    width: 900px;    
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

ul, li {
    display: flex;
    align-items: center;
}

nav a {
    display: flex;
    color: #727272;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}

li > a:hover {
    background-color: #39aae1;
    color: white;
    transform: translate(-2px, -2px);
    font-weight: bold;
    border-radius: 6px;
}

#banner {
    display: flex;
    background-image: url('../imagens/img1.jpg');
    justify-content: center;
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;


    
}
.div_frases {
    display: flex;
    flex:1;
   justify-content: center;
    flex-direction: column;
    max-width: 370px;
    height: 300px;
    padding-bottom: 50px;    
}

.div_frases > h1 {
    font-size: 55px;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.622);    
}

.div_frases > h2 {
    font-size: 19px;
    color: #fff;
    margin-top: 20px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.548);
}

.div_options {
    display: flex;
    height: 210px;   
}

.div_options_interna{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.509);
    justify-content: space-between;
    padding: 25px;
}

.div_options_interna > a {
   border: 1px solid white;
   color: white;
   width: 120px;
   padding: 5px;
   text-align: center;
   text-decoration: none;
   text-shadow: none;
}

.div_options_interna > a:hover {
    background-color: #fff;
    color: #006dc4;
}

.option_a {
    background-color: #00a3dc;
}

.option_b {
    background-color: #006dc4;
}

.option_c {
    background-color: #004091;
}

.box_options_c {
    display: flex;
}

.option_c > div { 
    border-bottom: 1px solid #fff;
}

.option_c > div > a {
    text-decoration: none;
}

.option_c > div > a:visited {
    color: #fff;
}


.divbanner1 {
    word-spacing: 50px;
} 

.divbanner2 {
    word-spacing: 90px;
}

.divbanner3 {
    word-spacing: 100px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral > .container > section {
    flex: 2;    
}

#geral > .container > aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    font-weight: bold;
    font-size: 21px;
}

.barrinha {
    background-color: #00a3dc;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 2px;
    width: 55px;
}

.conteudo_aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 460px;
}

.conteudo_aside > div {
    background-color: #00a3dc;;
    height: 130px;
    width: 130px;
    border: 1px solid black;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 280px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #004091;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #00a3dc;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

article  .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail > img{
    width: 100%;
    height: auto;
}

article .news_title {
    color: #000;
    margin: 25px 0px;;
    font-size: 23px;
}

article .news_resume {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}

footer {
    display: flex;
    background-color: #1e1e1e;
    justify-content: center;
    color: #fff;
}

.footer_menu {
    display: flex;
    flex: 1;
}

.footer_menu a {
    color: #fff;
    display: block;
    padding: 20px;
    text-decoration: none;
}

.footer_menu1, .footer_menu2, .footer_menu3 {
    flex: 1;
    
}

.footer_menu1 {
    background-color: #00a3dc;
}

.footer_menu2 {
    background-color: #006dc4;
}

.footer_menu3 {
    background-color: #004091;
}

.footer_column {
    flex-direction: column;
}

.footer_area {
    display: flex;
}

.footer_area_item {
    display: flex;
    flex: 1;
}

.footer_copy {
    border-top: 1px solid #3c3c3c;
    margin-top: 30px;
    height: 40px;
    font-size: 11px;
    line-height: 35px;
}

.copy_cor {
    color: #4c4c4c;
    display: inline;
}














































